
<!DOCTYPE html>
<html>
<head>
	<title>OK</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i|Oswald|Raleway|Roboto&display=swap" rel="stylesheet"> 

  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:400i|Oswald|Raleway:400,500|Roboto&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <link rel='stylesheet' href='static/ho.css'>
  <style>
    body{
    background-image:url('static/se.jpg');
    color:red;
    font-family:'Raleway';
    display:flexbox;

    }
    .hide{
      visibility: hidden;
    }
  
  </style>
</head>
<body>


<div class="dynamic">
    
</div>

<script type="text/javascript">
       console.log("{{data}}")
        


</script>
</body>