{% extends 'layout.html' %}
{% block content %}
        <div class="POL">
                <form action="/analyseText" method="POST">
                        <div class="form-group">
                        <label for='inputsm'><h2>Text</h2></label>
                        <input class='form-control input-sm' name='text'/><br>
                        </div>
                        <button class='btn btn-success'>Analyze</button><br><br>
                </form>
                {% if flag %}
                        <h2>WordCloud</h2>
                        <img src={{link}} height="350" width="350"><br>
                        <a class="btn btn-success" href='/uo'>Download</a>
                {% endif %}
                
        </div>


{% endblock %}