{% extends 'layout.html' %}
{% block content %}
<div class="container">
        <div class="col-xs-12">
                <form action="/qwert/{{name}}" method="POST" enctype="multipart/form-data">
                <label> <h2>Item</h2> </label>
                <input type="text" name="item" class='form-control'>
                <label> <h2>Decription</h2> </label>
                <input type='text' name='desc' class='form-control'>
                <label> <h2>Price</h2> </label>
                <input type='text' name='price' class='form-control'>
                <label> <h2>Image</h2></label>
                <input type='file' name='image'>


                <button type="submit" class="btn btn-primary">Add item</button>
</form>  
        </div>
</div>

{% endblock %}